.App {
  display: flex;
  flex-direction: column;
}

.Content {
  display: flex;
}

.Header {
  height: 10em;
  flex-grow: 1;
}

.Main {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.Filters {
  display: flex;
  flex-direction: column;
  width: 10em;
  padding: 0.5em;
}