.App {
  display: flex;
  flex-direction: column;
}

.Content {
  display: flex;
}

.Header {
  height: 10em;
  flex-grow: 1;
}

.Main {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.Main .paginate {
  display: flex;
  width: 85%;
  justify-content: flex-end;
}

.Main .paginate .previous, .Main .paginate .next {
  margin: 0.5em;
  cursor: pointer;
}

.Filters {
  display: flex;
  flex-direction: column;
  width: 10em;
  padding: 0.5em;
}

.Filters .clear-button {
  margin-top: 2em;
}
